    <section id="clients">
         <div class="container" >
            <h1 class="header text-center">Companies We've Helped</h1>
            <hr class="sub-head">
            <h3 class="text-center">Some of our reputed clients that we have helped recruit the best talent.</h3>
            <div class="row text-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12"></div>
            </div>
        
        </div>
    </section>