<div class="container-fluid half-bg">
    <div id="nav-background"></div>
</div>

<section>
        <div class="container" style="height: 720px;">
                <h1 class="text-center">About Us</h1>
                <hr class="sub-head">
                <h3 class="text-center">We are one of the leading People Consulting Firm Based in Mumbai, Area.</h3>
                <hr>
                <p>With a core competency in providing recruitment services throughout India & abroad. 
                We have made remarkable progress in providing candidates to reputed Companies in coatings & 
                allied Industries.  The success achieved so far is all the more encouraging to strive for the goal 
                that we have set for ourselves in fulfilling the needs of high profile companies. With overall experience of 
                more than two decades in executive search, focused on the coatings & allied Industries. We have filled innumerable
                positions and contributed in solving many organizational challenges in various paint and coating companies. With all our efforts,
                we have been able to establish an excellent rapport with the leading corporates in various fields where we have provided candidates for
                their strategic requirements.  We are specialized in the field of science and technology, where we have achieved commendable success.
                </p>
        </div>
  </section>