    <header>
        <div class="header-content container">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Search for Jobs Ends Here</h1>
                <h2 id="homeSubHeading">Paints | Coatings | Science | Technology | Polymer</h2>
                
                <a href="/jobs" class="btn btn-primary btn-header-left">Find Job</a>
                <br class="visible-xs">
                <a href="/hire_talent" class="btn btn-primary btn-header-right">Hire Talent</a>
            </div>
        </div>
    </header>

    <%= render 'jobs' %> 


    <div class="parallax">
        <h1 class="parallax-header">XYZ Consultancy Gets You The Best Hires.</h1>
    </div>

    <%= render 'clients' %> 


    <div class="parallax2">
         <h1 class="parallax-header">Let's Get In Touch.</h1>
    </div>

    <%= render 'contact_us' %> 