<div class="container-fluid half-bg">
    <div id="nav-background"></div>
</div>

<section>
          <div class="content-area">
                <div class="container" style="margin-top: 50px">
                    <div class="row page-title text-center">
                        <h1>Our Services</h1>
                        <hr class="sub-head">
                        <h3>we offer an array of services across coatings & allied industries.</h4>
                    </div>
                    <div class="row how-it-work text-center">
                        <div class="col-md-4">
                            <div class="single-work">
                                <h3>Executive Search</h3>
                                <hr>
                                <p>With an extensive experience and knowlege in the field of coatings & allied industries, we get you the best hires for senior level management.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-work">
                                <h3>Campus Recruitment</h3>
                                <hr>
                                <p>We conduct fairs at reputed institutes in India to help you build great teams and complete your task of recruitment even faster. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-work">
                                                             
                                <h3>Bulk Hiring</h3>
                                <hr>
                                <p>We also provide the service for hiring larger manpower from junior to mid level positions or building strategic teams to make your organization grow. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section style="padding-top: 20px">
          <div class="content-area">
                <div class="container">
                    <div class="row page-title text-center">
                        <h2>How we work for you?</h2>
                        <hr class="sub-head">
                        <h3>Our Process</h3>
                    </div>
                    <div class="row how-it-work text-center">
                        <div class="col-md-4">
                            <div class="single-work wow fadeInUp" data-wow-delay="0.8s">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                                <h3>sourcing talent from <br>our networks</h3>
                                <p>We will source the talent from our social and professional networks that we have established from decades of experience</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-work">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                                </span>
                                <h3>Choosing the best <br>marketing strategy.</h3>
                                <p>Using the outcomes from our networks, we will put together a plan for the most effective marketing strategy to get the best talent.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-work">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                                </span>                                
                                <h3>Shortlisting the right <br>profile.</h3>
                                <p>We forward you the best profiles after multiple rounds of filtering and finally choose the right candidate to fill the vacancy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    