<!--The Button to reach top of the page-->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<!--The foote section-->
<footer class="text-center">
    <p>XyZ.in &copy; 2017</p>
    <p>Created By AshCyber</p>
</footer>
